<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
    <body>
            <div class="top">
                   <center>
                    <ul>
                    <li><a href="/home">首页</a></li>
                    <li><a href="/add">任务添加</a></li>
                    <li><a href="/showTasks">任务列表</a></li>
                    <li><a href="/analysis">统计分析</a></li>
                    </ul>
                    </center>
            </div>
            <br>
            <br>
            <br>
            <br>
            <h1>已添加数据</h1>
    </body>
</html>